<h1 class="settings-header">Debug info</h1>
<div class="debug-wrapper">
  <div class="max-free-heap-block-wrapper">
    <div>Biggest free heap block:</div>
    <div id="max-free-heap-block">-- KB</div>
  </div>
  <div class="max-free-heap-wrapper">
    <div>Max free heap:</div>
    <div id="max-free-heap">-- KB</div>
  </div>
  <div class="fs-total-space-wrapper">
    <div>Filesystem total space:</div>
    <div id="fs-total-space">-- KB</div>
  </div>
  <div class="fs-used-space-wrapper">
    <div>Filesystem used space:</div>
    <div id="fs-used-space">--KB</div>
  </div>
</div>
