<div id="home-container">
  <div id="sensor-container">
    <div
      class="room-sensors room-temperature-container"
    >
    <div class="room-temperature">
      <div id="temperature">24°C</div>
      <i
        style="font-size: clamp(1rem, 6vmin, 7rem); margin-top: 0.25vmin"
        class="fa fa-thermometer-half"
        aria-hidden="true"
      ></i>
    </div>
</div>
    <div class="room-sensors" id="room-humidity-container">49%</div>
  </div>
  <div class="container" id="ip-container">
    <div class="label">Your IP</div>
    <div id="home-ip">192.68.4.50</div>
  </div>
  <div class="container" id="battery-container">
    <div class="label">Battery level</div>
    <div id="battery-level">73%</div>
  </div>
  <div class="container" id="weather-city-container">
    <div class="label">Current weather city:</div>
    <div id="weather-city">London</div>
  </div>
</div>
