<h1 class="settings-header">OTA Update</h1>
<div class="ota-update">
  <form id="update-fw-form" enctype="multipart/form-data">
    <div>Upload firmware, &lt~1.5 MB:</div>
    <input type="file" id="file-fw" name="file-fw" required accept=".bin" />
    <progress id="fw-file-progress-bar" max="100" value="0"></progress>
    <input
      type="submit"
      class="button"
      id="submit-fw"
      value="Upload firmware image"
    />
    <span id="fw-status"></span>
  </form>
  <form id="update-fs-form" enctype="multipart/form-data">
    <div>Upload filesystem (LittleFS), &lt~1 MB:</div>
    <input type="file" id="file-fs" name="file-fs" required accept=".bin" />
    <progress id="fs-file-progress-bar" max="100" value="0"></progress>
    <input
      type="submit"
      class="button"
      id="submit-fs"
      value="Upload filesystem image"
    />
    <span id="fs-status"></span>
  </form>
</div>
