<h1 class="settings-header"><%= __('RBG settings') %></h1>
<form id="rgb-form" action="">
  <span class="rgb-slider">
    <div class="checkbox-wrapper">
      <label class="switch" for="rgb-enabled">
        <input type="checkbox" id="rgb-enabled" name="rgb-enabled" />
        <div class="slider round"></div>
      </label>
    </div>
    <label id="rgb-enabled-label" for="rgb-enabled"><%= __('RGB') %></label>
  </span>
  <span class="rgb-wrapper">
    <label id="rgb-label" for="rgb-mode"><%= __('RGB mode') %></label>
    <select id="rgb-mode" name="rgb-mode">
      <option value="1"><%= __('Solid') %></option>
      <option value="2"><%= __('Solid, three colors') %></option>
      <option value="3"><%= __('Running rainbow') %></option>
      <option value="4"><%= __('Cycle rainbow') %></option>
      <option value="5"><%= __('Cycle three colors') %></option>
    </select>
  </span>
  <span class="rgb-delay-wrapper">
    <label id="rgb-delay-label" for="rgb-delay"><%= __('Delay') %></label>
    <input type="number" id="rgb-delay" name="rgb-delay" min="150" max="1000" />
  </span>
  <span class="rgb-brightness-wrapper">
    <label id="rgb-brightness-label" for="rgb-brightness"><%= __('Brightness') %></label>
    <input
      type="number"
      id="rgb-brightness"
      name="rgb-brightness"
      min="1"
      max="255"
    />
  </span>
  <span class="first-rgb-color-wrapper">
    <input type="color" id="first-rgb-color" name="first-rgb-color" />
    <label id="first-rgb-color-label" for="first-rgb-color"><%= __('First color') %></label>
  </span>
  <span class="second-rgb-color-wrapper">
    <input type="color" id="second-rgb-color" name="second-rgb-color" />
    <label id="second-rgb-color-label" for="second-rgb-color"
      ><%= __('Second color') %></label
    >
  </span>
  <span class="third-rgb-color-wrapper">
    <input type="color" id="third-rgb-color" name="third-rgb-color" />
    <label id="third-rgb-color-label" for="third-rgb-color"><%= __('Third color') %></label>
  </span>
  <span class="rgb-slider">
    <div class="checkbox-wrapper">
      <label class="switch" for="rgb-night">
        <input type="checkbox" id="rgb-night" name="rgb-night" />
        <div class="slider round"></div>
      </label>
    </div>
    <label id="rgb-enabled-label" for="rgb-enabled"
      ><%= __('Turn off at night time') %></label
    >
  </span>
  <input type="submit" class="button" value="<%= __('Save settings') %>" />
  <span id="saved_settings"><%= __('Settings saved') %>!</span>
</form>
