<h1 class="settings-header">Theme Settings</h1>
<form id="theme-form">
  <span class="theme-switch-wrapper">
    <div class="checkbox-wrapper">
      <label class="switch" for="theme-switch">
        <input type="checkbox" id="theme-switch" name="theme-switch" />
        <div class="slider round"></div>
      </label>
    </div>
    <label for="theme-switch">Enable dark theme</label>
  </span>
  <fieldset id="theme">
    <legend>Light theme</legend>
    <span class="theme-color-wrapper">
      <input type="color" id="light-theme-primary" name="light-theme-primary" />
      <label for="light-theme-primary">Primary color</label>
    </span>
    <span class="theme-color-wrapper">
      <input type="color" id="light-theme-second" name="light-theme-second" />
      <label for="light-theme-second">Second color</label>
    </span>
    <span class="theme-color-wrapper">
      <input type="color" id="light-theme-screen" name="light-theme-screen" />
      <label for="light-theme-screen">Screen color</label>
    </span>
    <span class="theme-color-wrapper">
      <input type="color" id="light-theme-card" name="light-theme-card" />
      <label for="light-theme-card">Card color</label>
    </span>
    <span class="theme-color-wrapper">
      <input type="color" id="light-theme-text" name="light-theme-text" />
      <label for="light-theme-text">Text color</label>
    </span>
    <span class="theme-color-wrapper">
      <input type="color" id="light-theme-grey" name="light-theme-grey" />
      <label for="light-theme-grey">Grey color</label>
    </span>
  </fieldset>
  <fieldset id="theme">
    <legend>Dark theme</legend>
    <span class="theme-color-wrapper">
      <input type="color" id="dark-theme-primary" name="dark-theme-primary" />
      <label for="dark-theme-primary">Primary color</label>
    </span>
    <span class="theme-color-wrapper">
      <input type="color" id="dark-theme-second" name="dark-theme-second" />
      <label for="dark-theme-second">Second color</label>
    </span>
    <span class="theme-color-wrapper">
      <input type="color" id="dark-theme-screen" name="dark-theme-screen" />
      <label for="dark-theme-screen">Screen color</label>
    </span>
    <span class="theme-color-wrapper">
      <input type="color" id="dark-theme-card" name="dark-theme-card" />
      <label for="dark-theme-card">Card color</label>
    </span>
    <span class="theme-color-wrapper">
      <input type="color" id="dark-theme-text" name="dark-theme-text" />
      <label for="dark-theme-text">Text color</label>
    </span>
    <span class="theme-color-wrapper">
      <input type="color" id="dark-theme-grey" name="dark-theme-grey" />
      <label for="dark-theme-grey">Grey color</label>
    </span>
  </fieldset>
  <input type="submit" class="button" value="Save settings" />
  <span id="saved_settings">Settings saved!</span>
</form>
<form id="upload-gif-form" enctype="multipart/form-data">
  <div>Upload GIF for main screen, 70x70 or smaller, <~70kB:</div>
  <input type="file" id="gif-file" name="gif-file" required accept=".gif" />
  <progress id="gif-file-progress-bar" max="100" value="0"></progress>
  <input type="submit" class="button" id="submit-gif-file" value="Upload GIF" />
  <span id="gif-file-status"></span>
</form>