<h1 class="settings-header">Theme Settings</h1>
<form id="theme-form">
  <span class="theme-switch-wrapper">
    <div class="checkbox-wrapper">
      <label class="switch" for="theme-switch">
        <input type="checkbox" id="theme-switch" name="theme-switch" />
        <div class="slider round"></div>
      </label>
    </div>
    <label for="theme-switch">Enable dark theme</label>
  </span>
  <fieldset id="light-theme">
    <legend>Light theme</legend>
    <span class="theme-color-wrapper">
      <input type="color" id="light-theme-background" name="light-theme-background"/>
      <label for="light-theme-background">Background color</label>
    </span>
    <span class="theme-color-wrapper">
      <input type="color" id="light-theme-second" name="light-theme-second" />
      <label for="light-theme-second">Second color</label>
    </span>
  </fieldset>
  <fieldset id="dark-theme">
    <legend>Dark theme</legend>
    <span class="theme-color-wrapper">
      <input type="color" id="dark-theme-background" name="dark-theme-background"/>
      <label for="dark-theme-background">Background color</label>
    </span>
    <span class="theme-color-wrapper">
      <input type="color" id="dark-theme-second" name="dark-theme-second"  />
      <label for="dark-theme-second">Second color</label>
    </span>
  </fieldset>
  <input type="submit" class="button" value="Save settings" />
</form>
