<h1 class="settings-header">Wifi Manager</h1>
<form id="wifi-form">
  <span class="ssid-wrapper">
    <label id="ssid-label" for="ssid">SSID</label>
    <input type="text" id="ssid" name="ssid" required/>
  </span>
  <span class="password-wrapper">
    <label for="password" id="password-label">Password</label>
    <input type="password" id="password" name="password" ondblclick="show_password('password')" required/>
  </span>
  <span class="ip-wrapper">
    <label for="ip" id="ip-label">IP Address</label>
    <input type="text" id="ip" name="ip" required/>
  </span>
  <span class="gateway-wrapper">
    <label for="gateway" id="gateway-label">Gateway</label>
    <input type="text" id="gateway" name="gateway"/>
  </span>
  <span class="login-wrapper">
    <label id="login-label" for="login">STA login</label>
    <input type="text" id="login" name="login" required/>
  </span>
  <span class="sta-password-wrapper">
    <label for="sta-password" id="sta-password-label">STA password</label>
    <input type="password" id="sta-password" name="sta-password" required ondblclick="show_password('sta-password')"/>
  </span>
  <input type="submit" id="wifi-submit" class="button" value="Save settings" />
  <span id="saved_settings">Settings saved!</span>
</form>
