* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #f5f6fa;
}
.wrapper {
  z-index: 10;
  position: relative;
}
.wrapper .sidebar {
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
  overflow: scroll;
}
.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}
.wrapper .sidebar::-webkit-scrollbar {
  display: none;
}
.wrapper .sidebar .profile h3 {
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
  color: rgb(206, 240, 253);
  font-size: 14px;
}
.wrapper .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  color: #0c7db1;
  background: white;
  border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
  color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}
.wrapper .section {
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}

.wrapper .section .top_navbar {
  background: rgb(7, 105, 185);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;
}

.logout-button {
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.wrapper .section .top_navbar .hamburger a {
  font-size: 28px;
  color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover {
  color: #a2ecff;
}
body.active .wrapper .sidebar {
  left: -225px;
}

body.active .wrapper .section {
  margin-left: 0;
  width: 100%;
}
.app .description {
  text-align: center;
}
.app .header {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

div#home-container {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  padding: 2% 1% 2% 1%;
}

div#sensor-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  gap: 20px;
  padding-bottom: 20px;
}

.room-sensors {
  display: flex;
  flex-direction: column;
  font-size: clamp(1em, 8vmin, 9em);
  border-radius: 50%;
  width: 30vmin;
  height: 30vmin;
  justify-content: center;
}

.room-sensors .room-icon-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.room-sensors.room-temperature-container {
  background-color: #a3e4d5;
}

.room-sensors.room-humidity-container {
  background-color: #bce6ff;
}

div#humidity,
div#temperature {
  margin-top: 20%;
}

.label {
  font-weight: bold;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2vmin 1% 2vmin 1%;
  font-size: clamp(1em, 5vmin, 7em);
}

div#weather-city-container {
  white-space: nowrap;
}

.alarm,
.sound-slider,
.plug-slider,
.ee-slider,
.player-usb-slider,
.rgb-slider,
.weather-requests,
.theme-switch-wrapper,
.change-theme,
.auto-brightness {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3vmin;
  font-size: clamp(20px, 3vmin, 30px);
}

form#upload-frontend-form,
form#upload-clock-images-form,
form#upload-gif-form,
form#update-weather-images-form,
form#update-fs-form,
form#update-fw-form,
form#alarm-form,
form#theme-form,
form#rgb-form,
form#sound-form,
form#weather-form,
form#time-form,
form#brightness-form {
  gap: 4vh;
  margin-top: 6vh;
  margin-bottom: 6vh;
  font-size: clamp(20px, 3vmin, 30px);
}

form#wifi-form {
  gap: 4vh;
  margin-top: 10vmin;
  margin-bottom: 6vh;
  font-size: clamp(20px, 3vmin, 30px);
}

input#auto-brightness-threshold {
  font-size: 1em;
  text-align: center;
  max-width: 120px;
  min-height: 30px;
  border-radius: 5px;
}

.volume-slider-wrapper,
.timezone-wrapper,
.brightness-slider-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3vmin;
  font-size: clamp(20px, 3vmin, 30px);
}

select#timezone-offset {
  max-width: 50vw;
  border-radius: 5px;
  font-size: clamp(20px, 3vmin, 30px);
}

fieldset#alarm,
fieldset#weather,
fieldset#main-clock-fieldset,
fieldset#weather-folder-fieldset {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3vmin;
  padding: 5px;
  border-radius: 5px;
  font-size: clamp(20px, 3vmin, 30px);
}

.settings-header {
  text-align: center;
  font-size: clamp(30px, 6vmin, 120px);
  margin-top: 20px;
}

.login-wrapper,
.ap-password-wrapper,
.gateway-wrapper,
.ip-wrapper,
.password-wrapper,
.ssid-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3vmin;
  min-width: 200px;
}

label#alarm-label,
label#weather-requests-label,
label#auto-brightness-label,
label#change-theme-label {
  width: 180px;
  float: left;
  text-align: left;
}

label#alarm-track-label,
label#plug-track-label,
label#ee-track-label,
label#sound-enabled-label,
label#plug-enabled-label,
label#player-usb-enabled-label,
label#ee-enabled-label,
label#first-rgb-color-label,
label#second-rgb-color-label,
label#third-rgb-color-label,
label#rgb-brightness-label,
label#rgb-delay-label,
label#rgb-label,
label#ap-password-label,
label#login-label,
label#language-label,
label#api-key-label,
label#city-label,
label#period-label,
label#ssid-label,
label#password-label,
label#ip-label,
label#gateway-label {
  width: 150px;
  float: right;
}

input#wifi-submit {
  margin-top: 25px;
}

input#alarm-track,
input#plug-track,
input#ee-track,
input#login,
input#ap-password,
input#api-key,
input#city,
input#rgb-brightness,
input#rgb-delay,
input#period,
input#gateway,
input#ip,
input#password,
input#ssid {
  font-size: clamp(20px, 3vmin, 30px);
  width: clamp(150px, 50vmin, 300px);
  border-radius: 4px;
  height: clamp(30px, 4vmin, 45px);
  padding-left: 10px;
}

span#saved_settings {
  font-size: clamp(20px, 3vmin, 30px);
  display: none;
  color: green;
}

.alarm-track-wrapper,
.plug-track-wrapper,
.ee-track-wrapper,
.rgb-wrapper,
.language-wrapper,
.rgb-brightness-wrapper,
.rgb-delay-wrapper,
.period-wrapper,
.city-wrapper,
.api-key-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3vmin;
  min-width: 200px;
}

select#rgb-mode,
select#language {
  font-size: clamp(20px, 3vmin, 30px);
  width: clamp(150px, 50vmin, 300px);
  border-radius: 4px;
  height: clamp(30px, 4vmin, 45px);
}

fieldset#theme {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  font-size: clamp(20px, 3vmin, 30px);
}

.theme-color-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 10px 5px 10px 5px;
  flex-basis: 33.33333%;
  text-align: center;
}

.alarm-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 3vmin;
  padding: 5px;
  border-radius: 5px;
  font-size: clamp(20px, 3vmin, 30px);
}

.alarm-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}
.time-input {
  border-radius: 5px;
  height: 40px;
  font-size: clamp(20px, 3vmin, 30px);
}

progress#frontend-file-progress-bar,
progress#gif-file-progress-bar,
progress#clock-files-progress-bar,
progress#weather-files-progress-bar,
progress#fs-file-progress-bar,
progress#fw-file-progress-bar {
  display: none;
}

.ota-update {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 6vh;
}

form#upload-frontend-form,
form#upload-clock-images-form,
form#upload-gif-form,
form#update-weather-images-form,
form#update-fs-form,
form#update-fw-form {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.debug-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 8vh;
  margin-bottom: 6vh;
  font-size: clamp(20px, 3vmin, 30px);
}

.max-free-heap-block-wrapper,
.max-free-heap-wrapper,
.fs-total-space-wrapper,
.battery-voltage-wrapper,
.fs-used-space-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

input[type="file"]::file-selector-button {
  font-size: clamp(20px, 3vmin, 30px);
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}

input[type="radio"] {
  border: 0px;
  width: 100%;
  height: 1.5em;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

/*https://range-input-css.netlify.app/*/
/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #49a6d4;
  border-radius: 0.5rem;
  height: 1rem;
}
/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -8px; /* Centers thumb on the track */
  background-color: #0c73a6;
  border-radius: 1rem;
  height: 2rem;
  width: 2rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #0c73a6;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #49a6d4;
  border-radius: 0.5rem;
  height: 1rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #0c73a6;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 1rem;
  height: 2rem;
  width: 2rem;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid #0c73a6;
  outline-offset: 0.125rem;
}

.checkbox-wrapper {
  font-size: clamp(20px, 3vmin, 30px);
  display: flex;
}
.checkbox-wrapper .switch {
  display: inline-block;
  position: relative;
  width: 2.5em;
  height: 1.5em;
}

.checkbox-wrapper .switch input {
  display: none;
}

.checkbox-wrapper .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 0.4s;
}

.checkbox-wrapper .slider:before {
  background-color: #fff;
  content: "";
  bottom: 0.2em;
  height: 1.1em;
  width: 1.1em;
  left: 0.27em;
  position: absolute;
  transition: transform 0.4s;
}

.checkbox-wrapper input:checked + .slider {
  background-color: #67acf1;
}

.checkbox-wrapper input:checked + .slider:before {
  transform: translateX(0.85em);
}

.checkbox-wrapper .slider.round {
  border-radius: 1em;
}

.checkbox-wrapper .slider.round:before {
  border-radius: 50%;
}

.button {
  align-items: center;
  appearance: button;
  background-color: #0276ff;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
}
.button:active {
  background-color: #006ae8;
}

.button:hover {
  background-color: #1c84ff;
}

dialog {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
  top: 50%;
  left: 50%;
  border: none !important;
  border-radius: 10px;
  padding: 1.6rem;
  height: 170px;
  width: 200px;
  margin-left: -100px;
  margin-top: -85px;
}
p#lx-label {
  font-weight: bold;
  width: 90px;
  height: 40px;
  font-size: 25px;
  margin-left: 40px;
  margin-top: 20px;
}

button#dialog-cancel {
  width: 120px;
  height: 40px;
  font-size: 25px;
  margin-left: 15px;
  margin-top: 15px;
}

::backdrop {
  background-color: #73767a;
  opacity: 0.7;
}

/*
 * Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 * Copyright 2023 Fonticons, Inc.
 */

/* uf0c9,uf015,uf1eb,uf185,uf017,uf743,uf55d,uf0ee,uf188,uf2c9,uf043,uf0eb,uf0f3,uf04b,uf04d,u1f3b5, */
.fa {
  font-family: var(--fa-style-family, "Font Awesome 6 Free");
  font-weight: var(--fa-style, 900);
}
.fa,
.fa-brands,
.fa-classic,
.fa-regular,
.fa-sharp,
.fa-solid,
.fab,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}
.fa-classic,
.fa-regular,
.fa-solid,
.far,
.fas {
  font-family: "Font Awesome 6 Free";
}

.fa-bars:before,
.fa-navicon:before {
  content: "\f0c9";
}
.fa-home-alt:before,
.fa-home-lg-alt:before,
.fa-home:before,
.fa-house:before {
  content: "\f015";
}
.fa-wifi-3:before,
.fa-wifi-strong:before,
.fa-wifi:before {
  content: "\f1eb";
}
.fa-sun:before {
  content: "\f185";
}
.fa-clock-four:before,
.fa-clock:before {
  content: "\f017";
}
.fa-cloud-sun-rain:before {
  content: "\f743";
}
.fa-brush:before {
  content: "\f55d";
}
.fa-cloud-arrow-up:before,
.fa-cloud-upload-alt:before,
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-bug::before {
  content: "\f188";
}
.fa-thermometer-half:before {
  content: "\f2c9";
}
.fa-tint::before {
  content: "\f043";
}
.fa-lightbulb::before {
  content: "\f0eb";
}
.fa-bell::before {
  content: "\f0f3";
}
.fa-music::before {
  content: "\1f3b5";
}
.fa-play::before {
  content: "\f04b";
}
.fa-stop::before {
  content: "\f04d";
}

@font-face {
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(fa-solid-900.woff2) format("woff2");
}
.fa-solid,
.fas {
  font-weight: 900;
}
