* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #f5f6fa;
}
.wrapper {
  z-index: 10;
  position: relative;
}
.wrapper .sidebar {
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}
.wrapper .sidebar .profile {
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile h3 {
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p {
  color: rgb(206, 240, 253);
  font-size: 14px;
}
.wrapper .sidebar ul li a {
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid #10558d;
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a .icon {
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
  color: #0c7db1;
  background: white;
  border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon {
  color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
  display: block;
}
.wrapper .section {
  width: calc(100% - 225px);
  margin-left: 225px;
  transition: all 0.5s ease;
}

.wrapper .section .top_navbar {
  background: rgb(7, 105, 185);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.wrapper .section .top_navbar .hamburger a {
  font-size: 28px;
  color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover {
  color: #a2ecff;
}
body.active .wrapper .sidebar {
  left: -225px;
}

body.active .wrapper .section {
  margin-left: 0;
  width: 100%;
}
.app .description {
  text-align: center;
}
.app .header {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

div#home-container {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  padding: 2% 1% 2% 1%;
}

div#sensor-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  gap: 20px;
  padding-bottom: 20px;
}

.room-sensors {
  display: flex;
  flex-direction: column;
  font-size: clamp(1em, 10vmin, 13em);
  border-radius: 50%;
  width: 30vmin;
  height: 30vmin;
  justify-content: center;
}

.room-sensors .room-icon-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.room-sensors.room-temperature-container {
  background-color: #a3e4d5;
}

.room-sensors.room-humidity-container {
  background-color: #bce6ff;
}

div#humidity,
div#temperature {
  margin-top: 20%;
}

.label {
  font-weight: bold;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2vmin 1% 2vmin 1%;
  font-size: clamp(1em, 5vmin, 7em);
}

div#weather-city-container {
  white-space: nowrap;
}

.theme-switch-wrapper,
.change-theme,
.auto-brightness {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3vmin;
  font-size: clamp(20px, 3vmin, 30px);
}

form#theme-form,
form#weather-form,
form#time-form,
form#wifi-form,
form#brightness-form {
  gap: 4vh;
  margin-top: 6vh;
  margin-bottom: 6vh;
  font-size: clamp(20px, 3vmin, 30px);
}

input#auto-brightness-threshold {
  font-size: 1em;
  text-align: center;
  max-width: 120px;
  min-height: 30px;
  border-radius: 5px;
}

.timezone-wrapper,
.brightness-slider-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3vmin;
  font-size: clamp(20px, 3vmin, 30px);
}

select#timezone-offset {
  max-width: 50vw;
  border-radius: 5px;
  font-size: clamp(20px, 3vmin, 30px);
}

fieldset#light-theme,
fieldset#dark-theme,
fieldset#weather,
fieldset#main-clock-fieldset {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3vmin;
  padding: 5px;
  border-radius: 5px;
  font-size: clamp(20px, 3vmin, 30px);
}

.settings-header {
  text-align: center;
  font-size: clamp(30px, 6vmin, 120px);
  margin-top: 20px;
}

.gateway-wrapper,
.ip-wrapper,
.password-wrapper,
.ssid-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3vmin;
  min-width: 200px;
}

label#language-label,
label#api-key-label,
label#city-label,
label#period-label,
label#ssid-label,
label#password-label,
label#ip-label,
label#gateway-label {
  width: 150px;
  float: right;
}

input#wifi-submit {
  margin-top: 25px;
}

input#api-key,
input#city,
input#period,
input#gateway,
input#ip,
input#password,
input#ssid {
  font-size: clamp(20px, 3vmin, 30px);
  width: clamp(150px, 50vmin, 300px);
  border-radius: 4px;
  height: clamp(30px, 4vmin, 45px);
}

.language-wrapper,
.period-wrapper,
.city-wrapper,
.api-key-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3vmin;
  min-width: 200px;
}

select#language {
  font-size: clamp(20px, 3vmin, 30px);
  width: clamp(150px, 50vmin, 300px);
  border-radius: 4px;
  height: clamp(30px, 4vmin, 45px);
}

.theme-color-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vmin;
  padding: 15px 5px 15px 5px;
}

input[type="radio"] {
  border: 0px;
  width: 100%;
  height: 1.5em;
}

/*https://range-input-css.netlify.app/*/
/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #49a6d4;
  border-radius: 0.5rem;
  height: 1rem;
}
/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -8px; /* Centers thumb on the track */
  background-color: #0c73a6;
  border-radius: 1rem;
  height: 2rem;
  width: 2rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #0c73a6;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #49a6d4;
  border-radius: 0.5rem;
  height: 1rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #0c73a6;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 1rem;
  height: 2rem;
  width: 2rem;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid #0c73a6;
  outline-offset: 0.125rem;
}

.checkbox-wrapper {
  font-size: clamp(20px, 3vmin, 30px);
  display: flex;
}
.checkbox-wrapper .switch {
  display: inline-block;
  position: relative;
  width: 2.5em;
  height: 1.5em;
}

.checkbox-wrapper .switch input {
  display: none;
}

.checkbox-wrapper .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 0.4s;
}

.checkbox-wrapper .slider:before {
  background-color: #fff;
  content: "";
  bottom: 0.2em;
  height: 1.1em;
  width: 1.1em;
  left: 0.27em;
  position: absolute;
  transition: transform 0.4s;
}

.checkbox-wrapper input:checked + .slider {
  background-color: #67acf1;
}

.checkbox-wrapper input:checked + .slider:before {
  transform: translateX(0.85em);
}

.checkbox-wrapper .slider.round {
  border-radius: 1em;
}

.checkbox-wrapper .slider.round:before {
  border-radius: 50%;
}

.button {
  align-items: center;
  appearance: button;
  background-color: #0276ff;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
}
.button:active {
  background-color: #006ae8;
}

.button:hover {
  background-color: #1c84ff;
}
